mixin navigation
  nav
    link(rel="stylesheet", href="nav.css")
    a(href="/") 
      b City Viewer &nbsp;
    a(href="/cities") Cities &nbsp;
    a(href="/login") Login &nbsp;
    a(href="/register") Register &nbsp;
    a(href="/account") Account 
