extends layout.pug

block content
    main
        link(rel="stylesheet", href="index.css")
        include includes/header.pug
        block appContent
        include includes/footer.pug
    footer
        p Copyright 2021